{{ $baseurl := .Site.BaseURL }}
{{ partial "head.html" . }}
{{ partial "navbar.html" . }}

<div class="wrapper">
<div class="units-row">
<div class="unit-20">&nbsp;</div>
<div class="unit-60">
<h2><a href="">{{ .Title }}</a></h2></div>
</div>
<div class="units-row">
<div class="unit-20 dateblock"><h4>{{ .Date.Format "January 2, 2006" }}</h4>
{{ if (ge .Date.Unix now.Unix) }}{{ if (le .Date.Unix (add now.Unix 7776000)) }}<span class="badge badge-small badge-yellow">coming soon</span>{{ end }}{{ end }}
</div>
<div class="unit-60">{{ .Content }}</div>
</div>
</div>

<hr class="separator">

{{ partial "whatisthis.html" . }}

{{ partial "foot.html" . }}
</body>
</html>


