{{ $baseurl := .Site.BaseURL }}
{{ partial "head.html" . }}
{{ partial "navbar.html" . }}

<div class="wrapper">
<div class="units-row">
<div class="unit-20">&nbsp;</div>
<div class="unit-60"><h2><a href="">{{ .Title }}</a></h2></div>
</div>
<div class="units-row">
<div class="unit-20 dateblock"><h4>from <time>{{ .Date.Format "January 2006" }} to {{ .Params.enddate | dateFormat "January 2006" }}</time></h4>
Offered through {{ .Params.host }}

{{ if ge .Date.Unix now.Unix }}{{ if (le .Date.Unix (add now.Unix 7776000)) }}<span class="badge badge-small badge-yellow">coming soon</span>{{ end }}{{ end }}
{{ if (le .Date.Unix now.Unix) }}{{ if (le now.Unix (add .Date.Unix .Params.duration)) }}<span class="badge badge-small badge-green">now on</span>{{ end }}{{ end }}
</div>
<div class="unit-60">{{ .Content }}

<hr>
{{ if .PrevInSection }}
<a href="{{.PrevInSection.Permalink}}"> &larr;&nbsp;{{.PrevInSection.Title}}</a> |
{{ end }}
<a href="{{ $baseurl }}/class">Class Archive</a>
{{ if .NextInSection }}
| <a href="{{.NextInSection.Permalink}}">{{.NextInSection.Title}}&nbsp;&rarr;</a>
{{ end }}
</div>

</div>
</div>

<hr class="separator">

{{ partial "whatisthis.html" . }}

{{ partial "foot.html" . }}
</body>
</html>


