{{ $baseurl := .Site.BaseURL }}
{{ partial "head.html" . }}
{{ partial "navbar.html" . }}

<div class="wrapper">
<div class="units-row">
<div class="unit-20">&nbsp;</div>
<div class="unit-60"><h2><a href="">{{ .Title }}</a></h2></div>
</div>
<div class="units-row">
<div class="unit-20 dateblock"><p>{{ .Params.citation | safeHTML }}</p>
{{ if .Params.doi }}<p class="small"><a href="http://dx.doi.org/{{.Params.doi}}">doi:{{.Params.doi}}</a></p>{{ end }}
{{ if .Params.file }}<p><a href="{{.Site.BaseURL}}/papers/{{.Params.file}}" class="badge badge-red"><i class="fa fa-file-pdf-o"></i>&nbsp;download pdf</a></p><p class="small">You are welcome to download and read this document. I <em>especially</em> welcome feedback on it. As it is not yet published in final form, if you want to cite the paper, please check with me first. Thanks.</p>{{ end }}
</div>
<div class="unit-60">
{{ .Content }}

{{ partial "tweetlink_unpublished.html" . }}


<hr>
{{ if .PrevInSection }}
<a href="{{.PrevInSection.Permalink}}"> &larr;&nbsp;{{.PrevInSection.Title}}</a> | {{ end }}<a href="{{ $baseurl }}/writing">Writing Archive</a>{{ if .NextInSection }} | <a href="{{.NextInSection.Permalink}}">{{.NextInSection.Title}}&nbsp;&rarr;</a>
{{ end }}
</div>

</div>
</div>

<hr class="separator">

{{ partial "whatisthis.html" . }}

{{ partial "foot.html" . }}
</body>
</html>


