<hr/>
<p style="font-size: 0.9em; line-height: 1.05em;">Do you like this, or do you have a comment? Then please 
<i class="fa fa-twitter-square" style="color:#b24;font-size:80%;padding-top:6px;"></i>&nbsp;<a href="https://twitter.com/share?text=Your+Message+Here&via=consequently"><em>share</em></a> or <a href="https://twitter.com/share?text=@consequently+Your+Message+Here"><em>reply</em></a> on Twitter, or 
<i class="fa fa-envelope" style="color:#b24;padding-top:6px;font-size:80%;"></i>&nbsp;<a href="mailto:greg@consequently.org?subject=Re: {{ .Title }} at {{ .Permalink }}">email me</a>.</p>