{{ $baseurl := .Site.BaseURL }}
{{ partial "head.html" . }}
{{ partial "navbar.html" . }}

<div class="wrapper">

<div class="units-row">

<div class="unit-50">
<h2>404: Page Not Found</h2>
<p class="big">
	There is no page here at the address you requested. Perhaps try a search to find what you are looking for?
</p>
				<form method="get" action="http://duckduckgo.com/">
				<input type="search" name="q" maxlength="255" placeholder="Search consequently.org">
			<input type="hidden" name="sites" value="consequently.org"/>
			   <input type="hidden" name="ka" value="Alegreya"/>
			   <input type="hidden" name="k7" value="#faf8f8"/>
			   <input type="hidden" name="kj" value="#b33"/>
			   <input type="hidden" name="ky" value="#fafafa"/>
			   <input type="hidden" name="kx" value="b"/>
			   <input type="hidden" name="ko" value="-1"/>
			   <input type="hidden" name="k1" value="-1"/>
			   <input type="hidden" name="kt" value="Alegreya Sans"/>
			   <input type="submit" value="DuckDuckGo Search" style="visibility: hidden;" /></form>
</div>

<div class="unit-50">
<h2>Recent Musings, Explorations, and Announcements</h2>
<ul class="compact fa-ul">
        {{ range first 10 (where .Data.Pages.ByDate "Section" "musings").Reverse }}
<li><i class="fa-li fa fa-newspaper-o fa-fw" style="color:#b00;font-size:80%;padding-top:6px;"></i> <a href="{{ .Permalink }}">{{ .Title | safeHTML }}</a>{{if not (isset .Params "grlog") }}, <time><em>{{ .Date.Format "January 2, 2006" }}</em></time>{{ end }} </li>
		{{ end }}
</ul>



<footer class="group">
<nav class="navbar navbar-right"><a href="musings">&rarr; All Musings</a></nav>
</footer>



</div>
</div>

</div><!-- /end .wrapper -->


<hr class="separator">

{{ partial "whatisthis.html" . }}

{{ partial "foot.html" . }}
</body>
</html>
