{{ $baseurl := .Site.BaseURL }}
{{ partial "head.html" . }}
<body>

{{ partial "navbar.html" . }}

<div class="wrapper">
  <div class="is-row is-stack-40">
    <div class="is-col is-100 story bigger">
      <img class="header-img is-stack-20" src="{{ .Site.BaseURL }}/img/header-pic.jpg">
      {{ .Content }}
  </div>
  <div class="is-row">
    <div class="is-col is-66 is-stack-20">
    <div class="is-row is-stack-20">
	        <h2 class="is-center">Musings, Explorations, and Announcements</h2>
    </div>
    {{ range first 5 ((where .Data.Pages.ByDate "Section" "musings").Reverse) }}
    <div class="is-row">
      <div class="is-col is-33 dateblock">
      <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
      <h4>{{ .Date.Format "2 January 2006" }}</h4>
    </div>
      <div class="is-col is-66">
      {{ if .Truncated }}
        {{ .Summary }}
        <p class="text-right"><a href="{{ .RelPermalink }}">Read More…</a></p>
      {{ else }}
        {{ .Content }}
      {{ end }}
     </div>
    </div>
    {{ end }}
    <div class="is-col is-33 dateblock">&nbsp;</div>
    <div class="is-col is-66">
        <nav class="navbar navbar-right"><a href="musings">&rarr; All musings</a></nav>
    </div>
  </div>
    <div class="is-col is-33 is-stack-20">
      <div class="is-row is-stack-20">
        <h2 class="is-center">Recent Works</h2>
      </div>
      <ul class="compact fa-ul">
        {{ range first 5 (where .Data.Pages.ByDate "Section" "writing").Reverse }}
        <li>
          <i class="fa-li fa  {{ if eq .Type "unpublished" }}fa-file-o {{ else if eq .Params.kind "book" }}fa-book {{ else }}fa-file {{ end }} fa-fw" style="color:#e88;font-size:80%;padding-top:6px;"></i>
            {{ .Params.citation | safeHTML }}
            <a href="{{ .Permalink }}" class="badge badge-small">Abstract</a>
            {{ if isset .Params "file" }}<a href="{{.Site.BaseURL}}/papers/{{ .Params.file }}" class="badge badge-small"><i class="fa fa-file-pdf-o"></i>&nbsp;pdf</a>{{ end }}
        </li>
		    {{ end }}
      </ul>
      <footer class="group">
        <nav class="navbar navbar-right"><a href="writing">&rarr; All works</a></nav>
      </footer>
   </div>
</div>
</div>
<!-- /end .wrapper -->


<hr class="separator">

{{ partial "whatisthis.html" . }}

{{ partial "foot.html" . }}

</body>
</html>
