BrowserMatchNoCase "mj12bot" bots  Order Allow,Deny Allow from ALL Deny from env=bots

ErrorDocument 404 /404.html

RewriteEngine on

RewriteRule ^(.*)(atom|favicon)\.ico /favicon.ico [L,R=301,NC]

RewriteRule ^index\.html / [L,R=301]
RewriteRule ^about\.html / [L,R=301]
RewriteRule ^publications.html /vitae/ [L,R=301]
RewriteRule ^connect.html  /#connect [L,R=301]
RewriteRule ^tags.html  /musings/ [L,R=301]
RewriteRule ^davis-r-users-group.html https://d-rug.github.io [L,R=301]

RewriteRule ^blog/rss.xml	 /index.xml [L,R=301]
RewriteRule ^blog/R\.xml /categories/r/index.xml [L,R=301]
RewriteRule ^blog/(\w+)\.xml /tags/$1/index.xml [L,R=301]

RewriteRule ^blog/$ / [L,R=301]
RewriteRule ^blog/(.*)--(.*)$ /blog/$1-$2 [N]
RewriteRule ^blog/(\d+)/(\d)/(\d)/([^\.]*)\.html /archives/$1-0$2-0$3-$4/ [L,R=301]
RewriteRule ^blog/(\d+)/(\d)/(\d+)/([^\.]*)\.html /archives/$1-0$2-$3-$4/ [L,R=301]
RewriteRule ^blog/(\d+)/(\d+)/(\d)/([^\.]*)\.html /archives/$1-$2-0$3-$4/ [L,R=301]
RewriteRule ^blog/(\d+)/(\d+)/(\d+)/([^\.]*)\.html /archives/$1-$2-$3-$4/ [L,R=301]
