<!DOCTYPE html>
<html>
{{ $baseurl := .Site.BaseURL }}
{{ partial "head.html" . }}

<body>
  {{ partial "navbar.html" . }}
  <div class="wrapper">
    <div class="is-row">
      <p><h1 class="is-center">Curriculum Vitae</h1></p>
    </div>
    <div class="is-row">
      <p class="is-small is-hidden-print is-center"><em>Click on <i class="fas fa-angle-down fa-fw i"></i> icons for more information.</em></p>
    </div>

    <div class="is-row">

      <div class="is-col is-10 is-hidden-print">
      </div>

      <div class="is-col is-40">

       <h2>Education</h2>
       <ul class="fa-ul">
         {{ range sort .Site.Data.education "date" "desc" }}
         <li><i class="fa-li fas fa-graduation-cap fa-fw"></i>
           {{ .title }}, {{ .department}} <span style="float:right;">{{ dateFormat "2006" .date }}</span><br/>
           {{ .university }} <span style="float:right;">{{ .location }}</span>
         </li>
         {{ end }}
       </ul>

       <h2>Professional Experience</h2>
       <ul class="fa-ul">
         {{ range sort .Site.Data.employment "start_date" "desc" }}
         <li class="is-inset-bottom-4">
          <i class="fa-li fas fa-briefcase fa-fw"></i>
           {{ .title }}  <span style="float:right;">{{ dateFormat "2006" .start_date }}-{{ if .end_date }}{{ dateFormat "2006" .end_date }}{{ end }}</span><br/>
           {{ .organization }} <span style="float:right;">{{ .location }}</span>
         </li>
         {{ end }}
       </ul>

       <h2>Selected Software Packages</h2>
       <ul class="fa-ul">
         {{ range .Site.Data.software }}
           {{ partial "work.html" .}}
         {{ end }}
       </ul>

       <h2>Courses and Workshops</h2>
        <ul class="fa-ul">
         {{ range sort .Site.Data.courses "date" "desc" }}
           {{ partial "work.html" .}}
         {{ end }}
       </ul>

       <h2>Presentations</h2>
        <ul class="fa-ul">
         {{ range sort .Site.Data.presentations "date" "desc" }}
           {{ partial "work.html" .}}
         {{ end }}
       </ul>
      </div>

      <div class="is-col is-40">
        <h2>Publications</h2>
        <ul class="fa-ul">
          {{ range sort .Site.Data.papers "date" "desc" }}
            {{ partial "work.html" .}}
          {{ end }}
        </ul>
      </div>

      <div class="is-col is-10 is-hidden-print">&nbsp;</div>

    </div>

    {{ partial "footer.html" . }}
</body>

</html>

